# MkDocs設定ファイル
site_name: Sofia Luceat Project Wiki
repo_url: https://github.com/orgs/Sofia-Luceat-Project/repositories
repo_name: Sofia Luceat Project GitHub
copyright: "© Sofia Luceat Project 2025"

theme:
  name: material
  lang: ja
  features:
    - navigation.sections
    - content.code.copy
  palette:
    - media: "(prefers-color-scheme: light)"
      primary: blue
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      primary: blue grey
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
# 使用するMarkdown拡張機能の設定
markdown_extensions:
  - admonition
  - pymdownx.details
  - footnotes
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format:
            !!python/name:pymdownx.superfences.fence_code_format # 追加のプラグイン設定


plugins:
  - glightbox
  - blog:
      post_date_format: full
      post_url_date_format: yyyy/MM/dd
      post_readtime: true
      archive: false
  - search
  - git-revision-date-localized:
      enabled: true
      enable_creation_date: true
      branch: master
